# Gradle
.gradle/
build/
**/build/
!**/build/XCFrameworks/release/XCPowerplayKMP.xcframework

# Android / IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Local Android config
local.properties

# Kotlin/Native
.konan/
.kotlin/

# iOS / Xcode
DerivedData/
*.xcuserstate
*.xcuserdata/

# CocoaPods
Pods/

# Swift Package Manager
.build/
.swiftpm/

# Logs / OS
*.log
.DS_Store
Thumbs.db
